*{
    /*border: 1px dotted blue;*/
}
body{
    margin:0;
}
.user-stream{
    height: 50px;
}
.divider{
    border-bottom: 0;
    border-top: 1px solid grey;
    width: 75%;
    margin: 0 auto 0 auto;
}
#main-canvas{
    width: 100%;
    height: 90vh;
}
#users-container{
    text-align: center;
}
#my-video{
    transform: rotateY(-180deg);
}
#raw-canvas{
    display: none;
}